@import url(./reset.css);
@import url(./webfonts.css);

/* 변수 */
:root {
    /* 색상 */
    --main-color:#262628;
    --orange:#f05522;
    --gray:#979797;
    --light-gray:#C2C4CA;

    /* 글자 색상 */
    --font-white:#fff;
    --font-light-gray:#C2C4CA;
    --font-dark-gray:#4a4a4a;
    --font-black:#262628;
}

/* 폰트 */
body {
    font-family: 'SF UI Display Light';
    font-size:15px;
    letter-spacing: 0.40px;
    color:var(--font-black);
}
.h1 {
    font-family: 'SF UI Display Heavy';
    font-size:36px;
    text-transform: uppercase;
    letter-spacing: 0.29px;
}
.h2 {
    font-family: 'SF UI Display Bold';
    font-size:26px;
    text-transform: uppercase;
    letter-spacing: 0.21px;
}
.h3 {
    font-family: 'SF UI Display Heavy';
    font-size:24px;
    text-transform: uppercase;
    letter-spacing: 0.19px;
}
.h4 {
    font-family: 'SF UI Display Heavy';
    font-size:20px;
}
.h5 {
    font-family: 'SF UI Display Semibold';
    font-size:20px;
}
.h6 {
    font-family: 'SF UI Display Semibold';
    font-size:14px;
    letter-spacing: 0.11px;
}
.h7 {
    font-family: 'SF UI Display Medium';
    font-size:13px;
}
.h8 {
    font-family: 'SF UI Display Medium';
    font-size:12px;
}
p {
    line-height: 18px;
}

/* 레이아웃 */
body {
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    align-items: center;
    padding: 35px 20px;
}
header.absolute {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
main {
    flex:1;
}

/* 글자 히든 */
.hidden {
    border: 0; 
    clip: rect(0 0 0 0); 
    clip-path: inset(50%); 
    width: 1px; height: 1px; 
    margin: -1px; 
    overflow: hidden; 
    padding: 0; 
    position: absolute;
    white-space: nowrap;
}

/* 스프라이트 이미지 */
.sprite {
    display: inline-block;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    text-indent: -9999em;
}
.sprite.close {
    width: 14px;
    height: 14px;
    background-position: -120px -391px;
}
.sprite.delete {
    width: 18px;
    height: 18px;
    background-position: -354px -342px;
    opacity: 0.2;
}
.sprite.arrow_left{
    width: 18px;
    height: 18px;
    background-position: -236px -150px;
}
.sprite.menu {
    width: 18px;
    height: 16px;
    background-position: -354px -583px;
}
.sprite.cart {
    width: 18px;
    height: 18px;
    background-image: url(../images/Wishlist.png);
}
.sprite.search {
    width: 18px;
    height: 18px;
    background-position: 0 -102px;
}
.sprite.barcode {
    width: 18px;
    height: 18px;
    background-position: 0 -582px;
}
.sprite.share {
    width: 16px;
    height: 16px;
    background-position: -355px -247px;
}
.sprite.wish-list-default {
    width: 16px;
    height: 18px;
    background-position: -119px -198px;
}
.sprite.wish-list{
    position: relative;
    width: 16px;
    height: 18px;
    background-position: -119px -198px;
}
.sprite.arrow_left{
    margin-right: 10px;
    width: 18px;
    height: 18px;
    background-position: -236px -150px;
}

.sprite.wish-list::before {
    content:attr(data-cart-count);
    position: absolute;
    top: -10px; right: -12px;
    width: 19px;
    height: 19px;
    background: var(--main-color);
    border-radius: 50%;
    font-family: 'SF UI Display Semibold';
    font-size:14px;
    color:#fff;
    line-height: 18px;
    text-align: center;
    text-indent: 0;
}

/* 버튼 스타일 */
.btn {
    font-family: 'SF UI Display Medium';
    background: var(--main-color);
    text-align: center;
    text-transform: uppercase;
    color:var(--font-white);
}
.btn-big {
    font-family: 'SF UI Display Semibold';
    font-size:14px;
    line-height: 50px;
    letter-spacing: 0.11px;
}
.btn-normal {
    padding: 12px 24px;
    font-size: 13px;
}
.btn-small {
    font-size: 13px;
    line-height: 30px;
}

/* 내용 구분선 */
hr {
    margin: 0;
    border: none;
    border-bottom: 1px solid var(--light-gray);
}
/* 폼 인풋 & 라벨 스타일 */
form {
    padding: 0 38px;
}
form > div + div {
    margin-top: 25px;
}
form > div > input {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 2px solid var(--light-gray);
    font-family: 'SF UI Display Medium';
    font-size:15px;
    outline: none;
    transition: 0.3s ease-out;
}
form > div > label {
    color:var(--font-light-gray);
}
form > div > input:focus{
    border-bottom: 2px solid var(--orange);
}


/* 사이드 메뉴 */
body {
    position: relative;
    left: 0;
    transition:0.3s ease-in-out;
}
body.menu-toggle {
    left: 70%;
}
aside {
    position: fixed;
    width: 70%;
    top: 0;
    left: -70%;
    bottom: 0;
    background: #fff;
    box-shadow: inset -2px 0 10px 0 rgba(0,0,0,0.2);
    box-sizing: border-box;
    text-transform: uppercase;
    z-index: 99;
    transition: left 0.3s ease-in-out;
    overflow-y: scroll;
}
body.menu-toggle > aside {
    left: 0;
}
aside > .aside-header {
    display: flex;
    align-items: center;
    padding: 38px 22px;
}
aside > .aside-header > .user-profile {
    margin-right: 13px;
    width: 50px;
    height: 50px;
    text-indent: -9999em;
    border-radius: 50%;
    border: 1px solid var(--font-light-gray);
    background: url(../images/avarta.jpeg)no-repeat center/cover;
}
aside > .category-accordion > ul > li {
    padding: 0 22px;
    border-top: 1px solid var(--font-light-gray);
    height: 55px;
    overflow-y: hidden;
    transition: height 0.3s ease-out;
}
aside > .category-accordion > ul > li h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    font-size: 15px;
    font-weight: bold;
}
aside > .category-accordion > ul > li h3 span{
    color:var(--font-light-gray);
}
aside > .category-accordion > ul > li ul li a {
    display: block;
    padding:10px 20px 20px;
    font-size:14px;
}
aside > nav {
    border-top: 1px solid var(--font-light-gray);
    padding:30px 22px;
}
aside > nav > ul > li+li {
    margin-top: 30px;
}