@import url(./common.css);


.modal {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.8);
    z-index: 9999;
    cursor: pointer;
}
.modal p {
    width: 70%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px 30px;
    color:var(--main-color);
    background: #fff;
    border-radius: 10px;
    font-size:12px;
    text-align: center;
    font-weight: bold;
}
/* 슬라이더 */
.swiper_wrapper {
    max-width: 373px;
    margin: 0 auto;
}
.swiper_wrapper > .swiper {
    overflow: hidden;
}
.swiper_wrapper > .swiper img {
    width: 100%;
}
.pagination {
    margin-top: 55px;
    text-align: center;
}
.pagination .bullet {
    display: inline-block;
    margin: 0 3px;
    width: 8px; height: 8px;
    border-radius: 50%;
    background-color: #C2C4CA;
    transition: background-color 0.3s linear;
}
.pagination .bullet-active {
    background-color: #262628;
    transition: background-color 0.3s linear;
}

/* 내용 */

.content h2 {
    margin-bottom: 23px;
    text-align: center;
}
.content p {
    text-align: center;
}

/* 푸터 링크 버튼 */
footer {
    display: flex;
}
footer a {
    flex:1;
}